<div>
<header>
    <nav class="navbar bg-warning">
        <div class="container-fluid">
          <a style="margin-left:20px;" class="navbar-brand" routerLink=""><i class="fa-solid fa-building-columns fa-beat-fade"></i>  Union Bank</a>
        </div>
      </nav>
</header>


<section>
   <br>
    <marquee bgcolor="success" class="" behavior="" direction="">Welcome to Union Bank</marquee>
    <br>
    <br>
    <br>



<div class="row">
    <div class="col-2"></div>
    <div style="margin-left:30px;" class="col-3">
        <br>
        <br>
        <br>
        <br><br><br>
<h6>Not a User,Click to Register</h6>
<div>
    <a style="display: flex;justify-content: center;align-items: center;width:90px;height:35px;" routerLink="/register"  class="btn btn-primary" type="button">Register</a>
</div>


    </div>
    <div style="margin-top:-20px; margin-left:-30px;" class="col-4">
<br>
<br>
<br>
<h4>Login Page</h4>

        <form [formGroup]="loginform" (ngSubmit)="login()" class="border border-info p-3" >
<div>
    <input name="acno" formControlName="acno" class="form-control  " placeholder="acno" type="text">
</div>
<!-- validation -->
<div *ngIf="loginform.get('acno')?.errors&& loginform.get('acno')?.touched" class="text-danger" >enter valid details</div>
 
<div>
    <input name="pswd" formControlName="pswd" class="form-control mt-3 " placeholder="password" type="text">
</div>
<!-- validation -->
<div *ngIf="loginform.get('pswd')?.errors && loginform.get('pswd')?.touched" class="text-danger" >enter valid password</div>



<button style="width:90px;height:34px;display: flex;align-items: center;justify-content: center;" class="btn btn-success mt-3 align-items-center  "  type="submit" ><span *ngIf="!loading" >login</span>
    <div *ngIf="loading" class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</button>


        </form>
    </div>
    <div class="col-3"></div>
</div>

</section>


</div>
